<h2><b><%=@anything.name%></b></h2> <p class="pine"><%=@anything.memberstatus%></p>

        <div class="col-md-8"> <p><%=@anything.bio%></p>
      <br>
      <br>
            <p><b>Location:</b><%=@anything.location%></p>
       <br>
            <p><b>Completion:</b></p><div id=<%=@anything.completion%>>
        <div></div>
</div>
      </div>
  </div>
</div>
<div>
  <a href="/funbear/<%= @anything.id %>/edit">edit</a> |
  <a href="/funbear/ <%= @anything.id %>/destroy"> DELETE </a>
</div>